/* CSS used here will be applied after bootstrap.css */
.ekko-lightbox-nav-overlay a {
    color: goldenrod;
}
.gallery-title {
    text-align: center;
	font-weight: 500;
	border-bottom: 1px dotted orange;
	margin-top: 1em;
}
